def main():
    {%- for data in data_list %}
    {%- for import in data['imports'] %}
    {{ import }}
    {%- endfor %}
    {%- endfor %}

    {% for data in data_list %}
        {%- set round_name = data['round_name'] %}
        {%- set response_name = 'response' ~ loop.index %}
        {%- set keys_not_to_render_automatically = ['response', 'round_name', 'round', 'user', 'imports'] %}
    {{ round_name }} = {
        "{{ "user" }}": """{{ data["user"] }}""",
        {{ data["response"][1] }}.__name__: """
        {{ data["response"][0] }}
    """,
        {%- for key, value in data.items() %}
            {%- if value is not none and key not in keys_not_to_render_automatically %}
        {{ value[1] }}.__name__: """
        {{ value[0] }}
    """,
            {%- endif %}
        {%- endfor %}
    }

    {% endfor %}

    return {
        "expected": [{%- for data in data_list %}
            {%- set round_name = data['round_name'] %}
            {%- if not round_name.startswith('unit_test') %} {{ round_name }}, {%- endif %}
        {%- endfor %}],
        "actual": [{%- for data in data_list %}
            {%- set round_name = data['round_name'] %}
            {%- if round_name.startswith('unit_test') %} {{ round_name }}, {%- endif %}
        {%- endfor %}],
        "all_local_vars": locals(),
    }

def logs():
    {% for data in data_list %}
        {%- set round_name = data['round_name'] %}
        {%- set response_name = 'response' ~ loop.index %}
        {%- set keys_not_to_render_automatically = ['response', 'round_name', 'round', 'user', 'imports'] %}
    {{ round_name }} = {
        "{{ "user" }}": """{{ data["user"] }}""",
        "{{ data["response"][1] }}": """
        {{ data["response"][0] }}
    """,
        {%- for key, value in data.items() %}
            {%- if value is not none and key not in keys_not_to_render_automatically %}
        "{{ value[1] }}": """
        {{ value[0] }}
    """,
            {%- endif %}
        {%- endfor %}
    }

    {% endfor %}

    return {
        "expected": [{%- for data in data_list %}
            {%- set round_name = data['round_name'] %}
            {%- if not round_name.startswith('unit_test') %} {{ round_name }}, {%- endif %}
        {%- endfor %}],
        "actual": [{%- for data in data_list %}
            {%- set round_name = data['round_name'] %}
            {%- if round_name.startswith('unit_test') %} {{ round_name }}, {%- endif %}
        {%- endfor %}],
    }

if __name__ == "__main__":
    main()
