DB_HOST=192.168.0.105
DB_NAME=langchain
DB_PASSWORD=xxx
DB_USERNAME=postgres
GLUON_MESON_CONTROL_CENTER_ENDPOINT=http://bj-3090.private.gluon-meson.tech:18000
MINIO_ACCESS_KEY=xxx
MINIO_ENDPOINT=xxx
MINIO_SECRET_KEY=xxx
OPENAI_API_KEY=xxx
PYTHONUNBUFFERED=1


GLUON_MESON_SDK_LOG_DB_DATABASE=model_log
GLUON_MESON_SDK_LOG_DB_HOST=bj-3090.private.gluon-meson.tech
GLUON_MESON_SDK_LOG_DB_PASSWORD=xxx
GLUON_MESON_SDK_LOG_DB_USER=xxx
GLUON_MESON_SDK_LOG_DB_LOG_TO_SERVER=true

EMAIL_BOT_EMAIL_DB_DATABASE=emails
EMAIL_BOT_EMAIL_DB_HOST=bj-3090.private.gluon-meson.tech
EMAIL_BOT_EMAIL_DB_PASSWORD=xxx
EMAIL_BOT_EMAIL_DB_USER=xxx

EMAIL_BOT_THOUGHT_AGENT_ENDPOINT=http://localhost:7788/score/

# for testing email in HSBC env
GRAPH_API_CLIENT_ID=xxx
GRAPH_API_CLIENT_SECRET=xxx
GRAPH_API_TENANT_ID=xxx
GRAPH_API_USER_ID=xxx
GRAPH_API_LOGIN_ENDPOINT=http://130.51.102.48:18030
GRAPH_API_MAIL_ENDPOINT=http://130.51.102.48:18030

# for testing email in local env
GRAPH_API_LOGIN_ENDPOINT=https://login.microsoftonline.com
GRAPH_API_MAIL_ENDPOINT=https://graph.microsoft.com
GRAPH_API_ACCESS_TOKEN=xxx

# start email bot, set the value to true to start the email bot
START_EMAILBOT=

GLUON_MESON_ATOM_API_URL=http://bj-3090.private.gluon-meson.tech:11000
GLUON_MESON_ATOM_APP_ID=121
